<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="home-page">
    <h1 class="cafe-name">Jah's Café</h1>
        <span class="lime">Live | </span><span class="yellow">Love | </span><span class="redish">Laugh</span><br><br>

  </div>
  <div class="top">
<form action="/week" method="POST"
  <label for="week">Select a week:</label>
  <input type="week" id="week" name="week">
  <input type="submit">
</form>  
<h1> Schedule for week {{week}}</h1>  
<i class="fa fa-cloud" style="font-size:20px;color:#1aff1a;"> Perfect</i>
    <i class="fa fa-cloud" style="font-size:20px;color:gold;"> Insufficient</i>
    <i class="fa fa-cloud" style="font-size:20px;color:red;"> Over subscribed</i>
  </div>
  <div class="weekdays">

    <table>
      <thead>
        <tr>
          {{#each shifts}}
          <th class="{{color}}">{{days}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
        {{#each shifts}}
          <td>
            <ul>
          {{#each waiters}}
              <li class="waiters">{{names}} <a class="x" href="/shift_delete/{{id}}">x</a></li>
              {{!-- <form action="/shift_delete/{{id}}" method="POST">
                  <input type="submit" value="X" class="x">
              </form> --}}
          {{/each}}
            </ul>
          </td>
        {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="admin-div">
    <button class="btn-admin" name="link"><a href="/reset">Reset Week</a></button>
    <button class="btn-admin"><a href="/">Take me home</a></button>
        		<p class="msg">{{messages.reset}}<p>


  </div>
</body>
<script>
        setTimeout(function(){
			 document.querySelector(".msg").innerHTML = "";

        }, 5000);
    </script>

</html>