<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class='container'>
        <div class="home-page">
        <h1 class="cafe-name">Jah's Café</h1>
        <span class="lime">Live | </span><span class="yellow">Love | </span><span class="redish">Laugh</span><br><br>

    </div>

    <h1>Waiter Schedule</h1>

    {{#each name}}
    <form action="/waiters/{{this.user}}" method="POST">
      <h2 class="name" <a href="/waiters/{{this.user}}"> Hello {{this.user}}</a></h2>
      {{/each}}
      <h2>Select Days for work</h2>

      {{#each allDays}}
           <input type="checkbox" name="day" class="check" value="{{this.days}}" {{this.state}}>
      <span class="checkmark"></span>
      <label for="all" class="label" > {{this.days}}</label>
          {{/each}}
      {{!-- <input type="checkbox" id="sun" name="day" class="check" value="Sunday">
      <span class="checkmark"></span>
      <input type="checkbox" id="mon" name="day" class="check" value="Monday">
      <span class="checkmark"></span>
      <label for="monday" class="label"> Monday</label>
      <input type="checkbox" id="tues" name="day" class="check" value="Tuesday">
      <span class="checkmark"></span>
      <label for="tuesday" class="label">Tuesday</label>
      <input type="checkbox" id="wed" name="day" class="check" value="Wednesday">
      <span class="checkmark"></span>
      <label for="wednesday" class="label">Wednesday</label>
      <input type="checkbox" id="thurs" name="day" class="check" value="Thursday">
      <span class="checkmark"></span>
      <label for="thursday" class="label">Thursday</label>
      <input type="checkbox" id="fri" name="day" class="check" value="Friday">
      <span class="checkmark"></span>
      <label for="friday" class="label">Friday</label>
            <input type="checkbox" id="sat" name="day" class="check" value="Saturday">
            <span class="checkmark"></span>
      <label for="saturday" class="label"> Saturday</label> --}}


      <input class="submitBtn" type="submit" value="Update Schedule"> <br>
    </form>
    		<p class="msg">{{messages.msg}}<p>

    <button class="index"><a href="/">Take me home</a></button>

  </div>
</body>
<script>
        setTimeout(function(){
			 document.querySelector(".msg").innerHTML = "";

        }, 5000);
    </script>

</html>