<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class='container'>
        <div class="home-page">
        <h1 class="cafe-name">Jah's Café</h1>
        <span class="lime">Live | </span><span class="yellow">Love | </span><span class="redish">Laugh</span><br><br>

    </div>

    <h1>Waiter Schedule</h1>
    <p>waiters to please select a minimum of 3 working days</p>

    {{#each name}}
    <form action="/waiters/{{this.user}}" method="POST">
      <h2 class="name" <a href="/waiters/{{this.user}}"> Hello {{this.user}}</a></h2>
      {{/each}}
      <h2>Select Days for work</h2>

      {{#each allDays}}
           <input type="checkbox" name="day" class="check" value="{{this.days}}" {{this.state}}>
      <span class="checkmark"></span>
      <label for="all" class="label" > {{this.days}}</label>
          {{/each}}
      <input class="submitBtn" type="submit" value="Update Schedule"> <br>
    </form>
    		<p class="msg">{{messages.msg}}<p>
        <p class="error">{{messages.error}}<p>


        <button class="index"><a href="/days">Admin</a></button>


  </div>
</body>
<script>
        setTimeout(function(){
			 document.querySelector(".msg").innerHTML = "";

        }, 5000);
    </script>

</html>